@import url('colors.css');

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(180deg, var(--bg-gradient-start) 0%, var(--bg-gradient-end) 100%);
    color: var(--text-secondary);
}

.theme-toggle { position: fixed; top: 1rem; right: 1rem; }
.language-toggle { position: fixed; top: 5rem; right: 1rem; }
